@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Inter:400,100,200italic,200,600,500italic,300,100italic,500,700");

/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/62c59d66b40a6d77cdef4d9b.62c59d67ae22a30bf5c04f75.3n2V0XV.hch.png");


.screen textarea:focus,
.screen input:focus {
  outline: none;
}

.screen * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.screen div {
  -webkit-text-size-adjust: none;
}

.component-wrapper a {
  display: contents;
  pointer-events: auto;
  text-decoration: none;
}

.component-wrapper * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  pointer-events: none;
}

.component-wrapper a *,
.component-wrapper input,
.component-wrapper video,
.component-wrapper iframe {
  pointer-events: auto;
}

.component-wrapper.not-ready,
.component-wrapper.not-ready * {
  visibility: hidden !important;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.full-width-a {
  width: 100%;
}

.full-height-a {
  height: 100%;
}

.container-center-vertical {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  pointer-events: none;
}

.container-center-vertical > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.auto-animated div {
  --z-index: -1;
  opacity: 0;
  position: absolute;
}

.auto-animated input {
  --z-index: -1;
  opacity: 0;
  position: absolute;
}

.auto-animated .container-center-vertical,
.auto-animated .container-center-horizontal {
  opacity: 1;
}

.overlay-base {
  display: none;
  height: 100%;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.overlay-base.animate-appear {
  align-items: center;
  animation: reveal 0.3s ease-in-out 1 normal forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
}

.overlay-base.animate-disappear {
  animation: reveal 0.3s ease-in-out 1 reverse forwards;
  display: block;
  opacity: 1;
  pointer-events: none;
}

.overlay-base.animate-disappear * {
  pointer-events: none;
}

@keyframes reveal {
  from { opacity: 0 }
 to { opacity: 1 }
}

.animate-nodelay {
  animation-delay: 0s;
}

.align-self-flex-start {
  align-self: flex-start;
}

.align-self-flex-end {
  align-self: flex-end;
}

.align-self-flex-center {
  align-self: flex-center;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.valign-text-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

input:focus {
  outline: none;
}

.listeners-active,
.listeners-active * {
  pointer-events: auto;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.smart-layers-pointers,
.smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
}

.listeners-active-click,
.listeners-active-click * {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
:root { 
  --black: #000000;
  --shark: #232428;
  --white: #ffffff;
 
  --font-size-l: 48px;
  --font-size-m: 32px;
  --font-size-s: 31px;
  --font-size-xs: 30px;
  --font-size-xxs: 24px;
  --font-size-xxxs: 20px;
 
  --font-family-inter: "Inter", Helvetica;
}
.inter-light-white-32px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.inter-bold-white-32px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

/* screen - desktop-1 */

.desktop-1 {
  background-color: #282828;
  height: 3000px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.desktop-1 .text1-Ys8k0x {
  background-color: transparent;
  height: 85px;
  left: 143px;
  position: absolute;
  top: 143px;
  width: 451px;
}

.desktop-1 .title-gQJ6H2 {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 42px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.desktop-1 .rectangle-1-gQJ6H2 {
  background-color: var(--white);
  height: 25px;
  left: 0px;
  position: absolute;
  top: 17px;
  width: 25px;
}

.desktop-1 .known-as-frost-gQJ6H2 {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 200;
  height: auto;
  left: 42px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 46px;
  width: auto;
}

.desktop-1 .text2-Ys8k0x {
  background-color: transparent;
  height: 78px;
  left: 148px;
  position: absolute;
  top: 271px;
  width: 435px;
}

.desktop-1 .a-software-developer-wMor0f {
  background-color: transparent;
  height: auto;
  left: 37px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.desktop-1 .span1-jSreAb {
  font-weight: 500;
}

.desktop-1 .rectangle-2-wMor0f {
  background-color: var(--white);
  height: 15px;
  left: 0px;
  position: absolute;
  top: 32px;
  width: 15px;
}

.desktop-1 .text3-Ys8k0x {
  background-color: transparent;
  height: 78px;
  left: 148px;
  position: absolute;
  top: 378px;
  width: 541px;
}

.desktop-1 .i-started-programmin-1I6Q8Y {
  background-color: transparent;
  height: auto;
  left: 37px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.desktop-1 .rectangle-3-1I6Q8Y {
  background-color: var(--white);
  height: 15px;
  left: 0px;
  position: absolute;
  top: 32px;
  width: 15px;
}

.desktop-1 .discord-Ys8k0x {
  height: 593px;
  left: 905px;
  top: 57px;
  width: 392px;
}

.desktop-1 .footer-Ys8k0x {
  background-color: transparent;
  height: 199px;
  left: 0px;
  position: absolute;
  top: 2801px;
  width: 1444px;
}

.desktop-1 .footer-main-u1Y9HI {
  background-color: #1f1f1f;
  height: 199px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.desktop-1 .frostxis-adev-u1Y9HI {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 143px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 49px;
  width: auto;
}

.desktop-1 .developer-u1Y9HI {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 143px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 84px;
  width: auto;
}

.desktop-1 .git-hub-u1Y9HI {
  background-color: transparent;
  height: 51px;
  left: 1118px;
  position: absolute;
  top: 49px;
  width: 183px;
}

.desktop-1 .logo-uFDoLZ {
  height: 50px;
  top: 1px;
  width: 50px;
}

.desktop-1 .name-uFDoLZ {
  left: 53px;
}

.desktop-1 .discord-u1Y9HI {
  height: 51px;
  left: 1126px;
  top: 100px;
  width: 175px;
}

.desktop-1 .logo-fAP6Vs {
  height: 35px;
  top: 8px;
  width: 35px;
}

.desktop-1 .name-fAP6Vs {
  left: 45px;
}

.desktop-1 .button-frame-Ys8k0x {
  background-color: var(--shark);
  border: 1px solid;
  border-color: #363636;
  border-radius: 10px;
  height: 100px;
  left: 143px;
  overflow: hidden;
  position: absolute;
  top: 550px;
  width: 300px;
}

.desktop-1 .text-vi84q8 {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
  height: 102px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -3px;
  width: 300px;
}

.desktop-1 .line-1-Ys8k0x {
  background-color: transparent;
  height: 1px;
  left: 383px;
  object-fit: cover;
  position: absolute;
  top: 785px;
  width: 650px;
}

.desktop-1 .my-latest-projects-cards-are-clickable-Ys8k0x {
  background-color: transparent;
  height: auto;
  left: 330px;
  letter-spacing: 1.60px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 866px;
  width: 780px;
}

.desktop-1 .span1-nuB8Zo {
  font-weight: 100;
}

.desktop-1 .project-Ys8k0x {
  left: 143px;
  top: 1025px;
}

.desktop-1 .project-name-7ro0tq {
  height: 57px;
  top: 143px;
  width: 500px;
}

.desktop-1 .a-modifier-plugin-fr-7ro0tq {
  background-color: transparent;
  height: auto;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 200px;
  width: 472px;
}

.desktop-1 .divider-7ro0tq {
  top: 130px;
}

.desktop-1 .project-V3rtYt {
  left: 770px;
  top: 1025px;
}

.desktop-1 .project-name-DcvTWq {
  height: 57px;
  top: 143px;
  width: 500px;
}

.desktop-1 .a-modern-object-orie-DcvTWq {
  background-color: transparent;
  height: auto;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 200px;
  width: 474px;
}

.desktop-1 .divider-DcvTWq {
  top: 131px;
}

.desktop-1 .project-InqUpZ {
  left: 143px;
  top: 1450px;
}

.desktop-1 .project-name-nMMA9W {
  height: 57px;
  top: 143px;
  width: 500px;
}

.desktop-1 .i-made-a-community-f-nMMA9W {
  background-color: transparent;
  height: auto;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 200px;
  width: 472px;
}

.desktop-1 .divider-nMMA9W {
  top: 130px;
}

.desktop-1 .project-EAe9Rz {
  left: 770px;
  top: 1450px;
}

.desktop-1 .project-name-OqNI4c {
  height: 57px;
  top: 143px;
  width: 500px;
}

.desktop-1 .an-unique-gui-librar-OqNI4c {
  background-color: transparent;
  height: auto;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 200px;
  width: 472px;
}

.desktop-1 .divider-OqNI4c {
  top: 130px;
}

.desktop-1 .line-2-Ys8k0x {
  background-color: transparent;
  height: 1px;
  left: 386px;
  object-fit: cover;
  position: absolute;
  top: 1947px;
  width: 650px;
}

.desktop-1 .other-stuff-about-me-Ys8k0x {
  background-color: transparent;
  height: auto;
  left: 321px;
  letter-spacing: 1.60px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 2010px;
  width: 780px;
}

.desktop-1 .i-have-no-more-ideas-Ys8k0x {
  background-color: transparent;
  height: auto;
  left: 321px;
  letter-spacing: 1.60px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 2630px;
  width: 780px;
}

.desktop-1 .span1-x9Uzz3 {
  font-weight: 100;
}

.desktop-1 .info-Ys8k0x {
  left: 143px;
}

.desktop-1 .project-name-EJJinM {
  height: auto;
  top: 31px;
  width: 500px;
}

.desktop-1 .info-V3rtYt {
  left: 770px;
}

.desktop-1 .project-name-w4yTkN {
  height: auto;
  top: 31px;
  width: 452px;
}

.desktop-1 .span1-XIu8nV {
  font-weight: 200;
}

.desktop-1 .span3-XIu8nV {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-style: italic;
  font-weight: 200;
}

.desktop-1 .span4-XIu8nV {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: italic;
  font-weight: 200;
}

.desktop-1 .discord {
  background-color: transparent;
  position: absolute;
}

.desktop-1 .divider {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  width: 527px;
}

.desktop-1 .image {
  background-color: transparent;
  height: 132px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 527px;
}

.desktop-1 .info {
  background-color: var(--shark);
  border-radius: 10px;
  height: 362px;
  overflow: hidden;
  position: absolute;
  top: 2113px;
  width: 527px;
}

.desktop-1 .language {
  background-color: transparent;
  height: auto;
  left: 7px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 131px;
  width: 472px;
}

.desktop-1 .logo {
  background-color: transparent;
  left: 0px;
  position: absolute;
}

.desktop-1 .name {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 400;
  height: 51px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 128px;
}

.desktop-1 .project {
  background-color: var(--shark);
  border-radius: 10px;
  height: 362px;
  overflow: hidden;
  position: absolute;
  width: 527px;
}

.desktop-1 .project-name {
  background-color: transparent;
  left: 27px;
  letter-spacing: 1.60px;
  line-height: normal;
  position: absolute;
  text-align: left;
}

.desktop-1 .span1 {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: italic;
}